<h1>Welcome to the Point-Of-Sale System!</h1>
<hr>
<h3>Sign in as:</h3>
<br>
        <%= link_to "Admin", new_admin_session_path, class: "btn btn-primary btn-lg" %>
<br>
<br>
        <%= link_to "Cashier", new_cashier_session_path, class: "btn btn-info btn-lg" %>
