<div class="nested-fields">
        <table class="table table-hover">
            <thead>
                <th>Product</th>
                <th>Quantity</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <!--</%= f.select(:product_id, Product.where(status: true).collect{|f| [f.name]}, {}, :style => "width:500px") %>-->
                        <%= f.association :product, :as => :collection_select, collection: Product.where(status: true),  :label => "" %>
                    </td>
                    <td><%= f.number_field :quantity, min: 1, :style => "width:500px" %></td>
                    
                </tr>
            </tbody>
        </table>
</div>
