<%= simple_form_for @order, url: orders_path do |f| %>
    <% if @order.errors.any? %>
    <% @order.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
    
    <div id="order_lines">
        <%= f.simple_fields_for :order_lines do |o| %>
          <%= render 'confirm_order_line_fields', f: o %>
        <% end %>
    </div>
    <br> 
    <%= f.button :submit, "Confirm order" %>
<% end %>