<%= simple_form_for @order, url: order_summary_path do |f| %>
    <% if @order.errors.any? %>
    <% @order.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
    
    <div id="order_lines">
        <%= f.simple_fields_for :order_lines do |o| %>
          <%= render 'order_line_fields', f: o %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'Add Product', f, :order_lines, class: 'btn btn-info'  %>
        </div>
    </div>
    <br> 
    <%= f.button :submit %>
<% end %>