<div class="nested-fields">
        <table class="table table-hover">
            <thead class = "order_head_text">
                <th>Product</th>
                <th>Quantity</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <%= f.association :product, :as => :collection_select, collection: Product.where(status: true), :label => "" %>
                    </td>
                    <td><%= f.input :quantity, input_html: {min: '1', value: f.object.quantity || '1'} %></td>
                    <td><%= link_to_remove_association "Remove", f, class: 'btn btn-danger btn-sm' %></td>
                </tr>
            </tbody>
        </table>
</div>
