<%= simple_form_for @order, url: order_path do |f| %>
    <% if @order.errors.any? %>
    <% @order.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
    
    <div id="order_lines">
        <%= f.number_field :cash, min: 1 %>
    </div>
    <br> 
    <%= f.button :submit, "Pay" %>
<% end %>