<table class="table table-hover">
    <thead class = "order_head_text">
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sub Total</th>
    </thead>
    <tbody>
        <% @order.order_lines.each do |c| %>
            <tr>
                <td><%= c.product.name %></td>
                <td>₱ <%= c.product.price %></td>
                <td><%= c.quantity %></td>
                <% subtotal = c.quantity * c.product.price %>
                <td>₱ <%= subtotal %></td>
            </tr>
        <% end %>
    </tbody>
</table>
