<h1 class="orders_text">Orders</h1>
<hr>
<div class = "new_order_button">
<%= link_to "New Order", new_order_path, class: "btn btn-success btn-lg" %>
</div>
<br><br>
<% if @orders && @orders.empty? %>
<br>
<br>
    <small>
        <br>
<br>
<br>
        <em>No orders to show.</em>
    </small>
<% else %>
    <table class="table table-hover">
        <thead class="order_index_head">
            <th>ID</th>
            <th>Cashier</th>
            <th>Total</th>
            <th>Cash</th>
            <th>Order</th>
            <th colspan="2"></th>
        </thead>
        <tbody>
            <% @orders.each do |c| %>
                <tr>
                    <td><%= c.id %></td>
                    <td><%= c.cashier.name %></td>
                    <td>₱ <%= c.total_price %></td>
                    <td>₱ <%= c.cash %></td>
                    <td>
                        <% c.order_lines.each do |o| %>
                            <li><%= o.quantity %> - <%= o.product.name %></li>
                        <% end %>
                    </td>
                    <td><%= link_to 'Show', order_path(c), class: "btn btn-primary" %>
                    <!--<td><#%= link_to "Delete", -->
                    <!--            order_path(c.id),-->
                    <!--            method: :delete, -->
                    <!--            data: { confirm: "Are you sure you want to delete?" }, -->
                    <!--            class: 'btn btn-danger' %>-->
                    <!--</td>-->
                    <% if c.cash.nil? %>
                    
                    <td><%= link_to 'Pay', order_payment_path(c), class: "btn btn-success" %></td>
                    
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>