<h1 class = "list_index_header">Orders List</h1>
<hr>
<% if @orders.empty? %>
    <small>
        <em>No orders are made.</em>
    </small>
<% else %>
<h3>Total Revenue: ₱ <%= @revenue %></h3>
    <table class="table table-hover">
            <thead>
                <th>Order ID</th>
                <th>Order Date</th></th>
                <th>Total Price</th>
            </thead>
            <tbody>
            <% @orders.each do |c| %>
            <tr>
                <td><%= c.id %></td>
                <td><%= c.created_at %></td>
                <td>₱ <%= c.total_price %></td>
            </tr>
            <% end %>
            </tbody>
    </table>
<% end %>
