<%= link_to 'Back', orders_path, class:"btn btn-primary btn-sm" %>  

<hr>
<h1 class = "order_text">Confirm Order</h1>
<br>
<%= render 'show_list', order_line: @order_line %>
<h2 class = "order_text">Total:  ₱<%= @order.total_price %></h2>
<br>
<div class="hidden">
    <%= simple_form_for @order, url: orders_path do |f| %>
        <div id="order_lines">
            <%= f.simple_fields_for :order_lines do |o| %>
              <%= render 'order_line_fields', f: o %>
            <% end %>
        </div>
</div>

<%= f.input :cash %>
<br>
<%= f.button :submit %>

<% end %>




