
<div style="max-width: 500px; padding: 15px; margin: 0 auto;">
  <h1 style="text-align: center;">Ordering System</h1>
  <% unless @order.cash.nil? %>
    <h2 style="text-align: center;">Official Receipt</h2>
  <% end %>
  <h3 style="text-align: center;">Order: <%= @order.id %></h3>

  <p>
    <strong>Cashier:</strong>
    <%= @order.cashier.email %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= @order.cash.nil? ? "Not Paid" : "Paid" %>
  </p>


  <table class="table">
    <tbody>
      <% @order_lines.each do |order_line| %>
      <tr>
        <td><%= order_line.quantity %></td>
        <td><%= order_line.product.name %></td>
        <td>₱ <%= order_line.price %></td>
      </tr>
      <% end %>
    </tbody>

  </table>


  <hr>
  <p>
    <strong>Total: ₱ </strong>
    <%= @order.total_price %>
  </p>
<div>

<%= render 'payment_form', order: @order %>