<head runat="server">
    <title>Print Page</title>
    <script type="text/javascript">
        function print_page() {
            var ButtonControl = document.getElementById("btnprint");
            ButtonControl.style.visibility = "hidden";
            // var ButtonControl = document.getElementById("btnback");
            // ButtonControl.style.visibility = "hidden";
            window.print();
        }
    </script>
</head>

<!--</%= link_to 'Back', orders_path, class:"btn btn-primary btn-sm", id: "btnback"  %>-->

<h1>Order Summary</h1>

<%= render 'show_list', order_line: @order_line %>

<h2>Total:  ₱ <%= @order.total_price %></h2>
<h2>Cash:  ₱ <%= @order.cash %></h2>
<h2>Change:  ₱ <%= @change %></h2>
<br>
<input class="btn btn-warning" type="button" id="btnprint" value="Print" onclick="print_page()" />
