<%= form_for cashier do |f| %>

  <% if @cashier.errors.any? %>
  <br>
  <div class="col-md-offset-0 col-md-12">
    <div class="row">
    <div class="alert alert-danger">
        <h4>Sorry, could not proceed due to the following problems:</h4>
        <% @cashier.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>

    <br>
    <label>Name</label>
    <br>
    <%= f.text_field :name, autofocus: true %>
    <br>
    <label>Email</label>
    <br>
    <%= f.text_field :email, autofocus: true %>
    <br>
    <label>Password</label>
    <br>
    <%= f.password_field :password %>
    <br>
    <label>Confirm Password</label>
    <br>
    <%= f.password_field :password_confirmation %>
    <br>
    <br>
    <%= f.submit class: "btn btn-info btn-mini" %>
<% end %>