<h1 class = "cashier_index_header">Cashiers</h1>
<hr>
<div class = "cashier_button"> <%= link_to "Add Cashier", new_cashier_path, class: "btn btn-info btn-lg" %> </div>
<br><br>
<% if @cashiers.empty? %>
<br>
<br>
    <small>
        <em>No cashiers to show.</em>
    </small>
<% else %>
    <table class="table table-hover">
        <thead class="cashier_index_head">
            <th >Name</th>
            <th>Email</th>
            <th>Registered by</th>
            <th>Status</th>
            <th colspan="3"></th>
        </thead>
        <tbody>
            <% @cashiers.each do |c| %>
                <tr class="<%= c.status ? 'warning' : 'active' %>">
                    <td><%= c.name %></td>
                    <td><%= c.email %></td>
                    <td>
                    <%= c.admin.email %>
                    </td>
                    <td>
                        <%= c.status ? "Active" : "Inactive" %>
                    </td>
                    <td>
                        <%= link_to "View Cashier", cashier_path(c), class: 'btn btn-primary' %>
                        <%= link_to "Edit", edit_cashier_path(c), class: 'btn btn-warning' %>
                        <% if c.status %>
                            <%= link_to "Deactivate", 
                                cashier_path(c.id),
                                method: :delete, 
                                data: { confirm: "Are you sure you want to deactivate?" }, class: 'btn btn-danger' %>
                        <% else %>
                            <%= link_to "Activate", 
                                cashier_path(c.id),
                                method: :delete, 
                                data: { confirm: "Are you sure you want to activate?" }, class: 'btn btn-success' %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>