<div class="col-md-offset-3 col-md-6">
    <div class="row">
        <div class="col-xs-6">
            <%= link_to 'Back', cashiers_path, class:"btn btn-primary btn-sm"  %>
        </div>
        <div class="col-xs-6">
            <span class="pull-right">
            <%= link_to 'Edit', edit_cashier_path, class:"btn btn-warning btn-sm" %>
            
            <% if @cashier.status == true %>
                <%= link_to "Deactivate", 
                                cashier_path(@cashier.id),
                                method: :delete, 
                                data: { confirm: "Are you sure you want to deactivate?" }, class: 'btn btn-danger btn-sm' %>
            <% else %>
                <%= link_to "Activate",
                                cashier_path(@cashier.id),
                                method: :delete, 
                                data: { confirm: "Are you sure you want to activate?" }, class: 'btn btn-success btn-sm' %>
            <% end %>
            </span>
            <br>
        </div>
        </div>

        <hr>
        <h3>Cashier Details</h3>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td> <strong> Cashier Name: </strong> </td>
                    <td><%= @cashier.name %></td>
                </tr>
                <tr>
                    <td> <strong> Email: </strong> </td>
                    <td> <%= @cashier.email %> </td>
                </tr>
                <tr>
                    <td> <strong> Registered by: </strong> </td>
                    <td> <%= @cashier.admin.email %> </td>
                </tr>
                <tr>
                    <td> <strong> Status: </strong> </td>
                    
                    <% if @cashier.status == true %>
                    <td> <%= "Active"  %> </td>
                    <% else %>
                    <td> <%= "Inactive" %> </td>
                    <% end %>
                </tr>
            </tbody>
        </table>

<br>
    <h3>View Orders</h3>
    <div class="row">
        <table class= "table table-hover">
            <thead>
                <th>Order ID</th>
                <th>Order Date</th></th>
                <th>Total Price</th>
            </thead>
            <tbody>
            <% @cashier.orders.each do |c| %>
            <tr>
                <td><%= c.id %></td>
                <td><%= c.created_at %></td>
                <td>₱ <%= c.total_price %></td>
            </tr>
        <% end %>
            </tbody>
        </table>
    </div>
</div>