// Place all the styles related to the Cashiers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cashier_index_header {
    font-weight: bold;
    text-align: center;
}

.cashier_button {
    text-align: center; 
    position: relative;
    top: 30px;
}

.cashier_index_head {
    font-size: 15px;
}