.cashier_index_header {
  font-weight: bold;
  text-align: center; }

.cashier_button {
  text-align: center;
  position: relative;
  top: 2px; }

.cashier_index_head {
  font-size: 15px; }

/*# sourceMappingURL=cashiers.css.map */
