.new_order_text {
    font-weight: bold;
}

.new_order_button {
    text-align: center;
    position: relative;
    top: 27px;
    font-weight:bold;
}

.orders_text {
    text-align: center;
    font-weight: bold;
}

.order_text {
    font-weight: bold;
    font-size:30px;
}

.order_head_text {
    font-size: 15px
}