.product_button {
  text-align: center; }

.product_index_head {
  font-size: 15px; }

.product_index_header {
  font-weight: bold;
  text-align: center; }

.product_button {
  position: relative;
  top: 2px; }

/*# sourceMappingURL=products.css.map */
