// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product_button {
    text-align: right;
}

.product_index_head {
    font-size: 15px;
}

.product_index_header {
    font-weight: bold;
    text-align: center;
}

.product_button {
    position: relative;
    top: 30px;
}