.report_index_header {
  font-weight: bold;
  text-align: center; }

.report_index_head {
  font-size: 15px; }

.report_poistion {
  position: relative;
  top: 35px; }

/*# sourceMappingURL=reports.css.map */
