// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.report_index_header {
    font-weight: bold;
    text-align: center;
}


.report_index_head {
    font-size: 15px;
}

.report_poistion {
    position: relative;
    top: 35px;
}