<%= form_with(model: order_line, local: true) do |form| %>
  <% if order_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order_line.errors.count, "error") %> prohibited this order_line from being saved:</h2>

      <ul>
      <% order_line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :order_line_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
