<h1>New Order Line</h1>

<%= render 'form', order_line: @order_line %>

<%= link_to 'Back', order_lines_path %>
<h1>New Orderline</h1>

<%= render 'form', order_line: @order_line %>

<%= link_to 'Back', order_lines_path %>
