<%= form_for product do |f| %>
    <label>Name</label>
    <br>
    <%= f.text_field :name %>
    <br>
    
    <label>Price</label>
    <br>
    <!--</%= f.number_field :price %>-->
    <%= f.number_field :price, class: :text_field, step: :any %>
    <br>
    <br>
    <%= f.submit class: "btn btn-info btn-mini" %>
<% end %>