<h1 class = "product_index_header">Products</h1>
<hr>
<div class = "product_button"> <%= link_to "Add Product", new_product_path, class: "btn btn-info btn-lg" %> </div>
<br><br>
<% if @products.empty? %>
<br>
<br>
    <small>
        <em>No products to show.</em>
    </small>
<% else %>
    <table class="table table-hover">
        <thead>
            <th class="product_index_head">Name</th>
            <th class="product_index_head">Price</th>
            <th class="product_index_head">Status</th>
            <th colspan="3"></th>
        </thead>
        <tbody>
            <% @products.each do |p| %>
                <tr class="<%= p.status ? 'warning' : 'active' %>">
                    <td><%= p.name %></td>
                    <td>₱ <%= p.price %></td>
                    <td>
                        <%= p.status ? "Active" : "Inactive" %>
                    </td>
                    <td>
                        <%= link_to "View Product", product_path(p), class: 'btn btn-primary' %>
                        <%= link_to "Edit", edit_product_path(p), class: 'btn btn-warning' %>
                        <% if p.status %>
                            <%= link_to "Deactivate", 
                                product_path(p.id),
                                method: :delete, 
                                data: { confirm: "Are you sure you want to deactivate?" }, class: 'btn btn-danger' %>
                        <% else %>
                            <%= link_to "Activate", 
                                product_path(p.id),
                                method: :delete, 
                                data: { confirm: "Are you sure you want to activate?" }, class: 'btn btn-success' %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>