<div class="col-md-offset-3 col-md-6">
    <div class="row">
        <div class="col-xs-6">
            <%= link_to 'Back', products_path, class:"btn btn-primary btn-sm"  %>
        </div>
        <div class="col-xs-6">
            <span class="pull-right">
            <%= link_to 'Edit', edit_product_path, class:"btn btn-warning btn-sm" %>
            
            <% if @product.status == true %>
                <%= link_to "Deactivate", 
                                product_path(@product.id),
                                method: :delete, 
                                data: { confirm: "Are you sure you want to deactivate?" }, class: 'btn btn-danger btn-sm' %>
            <% else %>
                <%= link_to "Activate",
                                product_path(@product.id),
                                method: :delete, 
                                data: { confirm: "Are you sure you want to activate?" }, class: 'btn btn-success btn-sm' %>
            <% end %>
            </span>
            <br>
        </div>
        </div>

        <hr>
        <h3>Product Details</h3>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td> <strong> Product Name: </strong> </td>
                    <td><%= @product.name %></td>
                </tr>
                <tr>
                    <td> <strong> Price: </strong> </td>
                    <td>₱ <%= @product.price %> </td>
                </tr>
                <tr>
                    <td> <strong> Status: </strong> </td>
                    
                    <% if @product.status == true %>
                    <td> <%= "Active"  %> </td>
                    <% else %>
                    <td> <%= "Inactive" %> </td>
                    <% end %>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>