<h1 class = "report_index_header">Reports</h1>
<hr></hr>

<% if @reports && @reports.empty? %>
<br>
<br>
    <small>
        <br>
<br>
<br>
        <em>No reports to show.</em>
    </small>
<% else %>

<h3>Daily</h3>
<table class="table table-hover">
	<thead>
		<tr>
	      <th>Name</th>
	      <th>Quantity Sold</th>
          <th>Total Buyers</th>
    	</tr>
	</thead>
	<tbody>
		<% @daily.each do |i| %>
			<tr>
				<td><%= i[:name] %></td>
				<td><%= i[:quantityeach] %></td>
				<td><%= i[:rating] %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<h3>Weekly</h3>
<table class="table table-hover">
	<thead>
		<tr>
	      <th>Name</th>
	      <th>Quantity Sold</th>
          <th>Total Buyers</th>
    	</tr>
	</thead>
	<tbody>
		<% @weekly.each do |i| %>
			<tr>
				<td><%= i[:name] %></td>
				<td><%= i[:quantityeach] %></td>
				<td><%= i[:rating] %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<h3>Monthly</h3>
<table class="table table-hover">
	<thead>
		<tr>
	      <th>Name</th>
	      <th>Quantity Sold</th>
          <th>Total Buyers</th>
    	</tr>
	</thead>
	<tbody>
		<% @monthly.each do |i| %>
			<tr>
				<td><%= i[:name] %></td>
				<td><%= i[:quantityeach] %></td>
				<td><%= i[:rating] %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<% end %>