<!DOCTYPE html>
<html>
  <head>
    <title>Workspace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% if admin_signed_in? %>
            <%= link_to "POS System", authenticated_admin_path, class: "navbar-brand" %>
          <% elsif cashier_signed_in? %>
            <%= link_to "POS System", authenticated_cashier_path, class: "navbar-brand" %>
          <% else %>
            <%= link_to "POS System", root_path, class: "navbar-brand" %>
          <% end %>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% if admin_signed_in? %>
              <li>
                <%= link_to "Cashiers", cashiers_path %>
              </li>
              <li>
                <%= link_to "Products", products_path %>
              </li>
              <li>
                <%= link_to "Reports", reports_path %>
              </li>
              <li>
                <%= link_to "Orders List", my_orderlist_path %>
              </li>
            <% elsif cashier_signed_in? %>
              <li>
                <%= link_to "Orders", orders_path %>
              </li>
            <% end %>
            <!--<li class="active"><a href="/ideas">Ideas</a></li>-->
          </ul>
          <p class="navbar-text pull-right">
            <% if admin_signed_in? %>
              Logged in as <strong><%= current_admin.email %></strong>|
              <%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %>
            <% elsif cashier_signed_in? %>
              Logged in as <strong><%= current_cashier.email %></strong>|
              <%= link_to "Logout", destroy_cashier_session_path, method: :delete, :class => 'navbar-link'  %>
            <% end %>
            </p>
        </div>
      </div>
    </nav>
    
    <div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
  
      <%= yield %>
    </div>
  </body>
</html>
